.footer-copyright {
    background-color: #314097;
    color: #FFFFFF;
}

.footer-copyright a {
    color: #FFFFFF;
    text-decoration: none;
}

.page-footer {
    background-color: #3f51b5;
    color: #FFFFFF;
    text-decoration: none;
}

.list-unstyled a {
    text-decoration: none;
    color: #FFFFFF;

}